<link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600' rel='stylesheet' type='text/css'>
<link href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<script src="{{ site.url }}/{{ theme_path('assets/js/modernizr.min.js') }}"></script>
<link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
<link href="{{ site.url }}/assets/css/style.css" rel="stylesheet" media="screen">
